# Java/Maven
*.orig
*.class
*.jar
*.war
target/
buildoutput/
${env.JAVA_SETUP_IMAGE}/
distribution/${linux.staging.path}/
distribution/${windows.staging.path}/
*.releaseBackup
*.log
settings.xml

#other
*.rlock
*.log
*.DS_Store

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.log
*.info
*.orig

#IntelliJ
*.iml
*.ipr
*.iws
.idea/

#Version.java
Version.java

#Zelix obfuscation
Z_log.txt
t

#l10n
*.lpu
res_*.properties
